In [20]:
import pandas as pd
from pathlib import Path
csvpath = Path("PyBank_budget_data.csv")
df = pd.read_csv(csvpath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [21]:
df.shape

(86, 2)

In [22]:
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [23]:
df.isna()

     Date  Profit/Losses
0   False          False
1   False          False
2   False          False
3   False          False
4   False          False
..    ...            ...
81  False          False
82  False          False
83  False          False
84  False          False
85  False          False

[86 rows x 2 columns]

In [24]:
# The tolal number of months in the data set
total_months = df["Date"].count()
total_months
# based on running the code, the totoal number of months in the data set are 86.

86

In [25]:
#The net total amount of Profit/Losses over the entire period.
total_PnL = df["Profit/Losses"].sum()
total_PnL
# After running the code, the total profit/losses during the 86 months is $38,382,578

38382578

In [26]:
#The average of the changes in Profit/Losses over the entire period.
# creating a new column in the data set by the name of :"Daily change in PnL"
df["daily change in PnL"] = df["Profit/Losses"].diff()
df["daily change in PnL"].head()
# The "daily change in pnL" column looks like below

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: daily change in PnL, dtype: float64

In [27]:
# Calculating the average of the daily change in Pnl
Average_change_in_PnL = df["daily change in PnL"].mean()
Average_change_in_PnL

-2315.1176470588234

In [28]:
# Calculation of The greatest increase in profits (date and amount) over the entire period
maximum_profit = df["daily change in PnL"].max()
maximum_profit
Date1= df.loc[df["daily change in PnL"]== maximum_profit]
maximum_profit_new = Date1["Date"].to_string(index = False)
print(maximum_profit_new)
print(maximum_profit)

Feb-2012
1926159.0

In [29]:
# Calcuation of the greatest decrease in profits
minimum_profit_loss = df["daily change in PnL"].min()
print(minimum_profit_loss)
Date2= df.loc[df["daily change in PnL"]== minimum_profit_loss]
min_profit_loss_new = Date2["Date"].to_string(index = False)
print(min_profit_loss_new)

-2196167.0
Sep-2013

In [32]:
#Final Reult 
print("Financial Analysis")
print(f"--------------------")
print(f"Total Months: {total_months}")
print(f"Total Profit: ${total_PnL}")
print(f"Greatest Increase in Profits:{maximum_profit_new} ${maximum_profit}")
print(f"Greatest Decrease in Profits: {min_profit_loss_new} ${minimum_profit_loss}")
print(f"Average change in P&L: ${Average_change_in_PnL}")

Financial Analysis
--------------------
Total Months: 86
Total Profit: $38382578
Greatest Increase in Profits:Feb-2012 $1926159.0
Greatest Decrease in Profits: Sep-2013 $-2196167.0
Average change in P&L: $-2315.1176470588234